.hotel-title {
  margin: 80px 0 30px 5px;
  font-size: 22px;
}

.hotel-list {
  max-width: 1116px;
  width: calc(100% - 12px);
  margin: 0 auto 200px;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.hotel-list .hotel-img {
  max-width: 360px;
  max-height: 320px;
  position: relative;
  flex: 1;
}

.hotel-list .hotel-img img {
  display: inline-block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.hotel-list .img-text {
  color: rgb(86, 86, 86);
  display: flex;
  flex-direction: column;
  gap: 10px;

  position: absolute;
  bottom: -130px;
}

.hotel-list .img-text .img-name {
  font-weight: 700;
  color: rgb(86, 86, 86);
}

.hotel-list .hotel-rate {
  margin-right: 10px;
  padding: 5px;
  color: white;
  background-color: rgb(0, 59, 149);
  border-radius: 3px;
}

/* MEDIA QUERY */
@media (max-width: 850px) {
  .hotel-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 160px;
  }
}

@media (max-width: 576px) {
  .hotel-list {
    row-gap: 180px;
  }
  .hotel-list .image-text {
    bottom: -150px;
  }
}
